@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a.pulse-link {
  color: #ffffff00;
  padding: 3px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

a.pulse-link::before {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transition: left 0.5s ease;
}

@media (hover: hover) {
  a.pulse-link:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(91, 204, 245, 0.742);
  }
}

@media (max-width: 1200px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
